header {
    width: 100%;
    height: 80px;
    background: #1D2533;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 210px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), 0 0 8px 0 rgba(0,0,0,.1);
}

.menu {
    font-size: 24px;
    color: #E8E9EA;
    width: 248px;
}

.navbar__header {
    display: flex;
    align-items: center;
    width: 248px;
    height: 24px;
    justify-content: space-between;
}

.home {
    width: 100%;
    height: 800px;
    padding: 0 210px;
    background: radial-gradient(112.11% 111.8% at 100% 0, #4075ff 0, rgba(64, 117, 255, 0) 100%), radial-gradient(111.72% 111.46% at 27% 0, #16d9a6 0, rgba(22, 217, 166, 0) 100%), #9466ff;
}

.media_header {
    color: #E8E9EA;
    font-size: 20px;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.home__text {
    max-width: 1535px;
    margin: 0 auto;
    position: relative;
    top: 12%;
}

.home__text h1{
    font-weight: 700;
    line-height: 260px;
    color: #E8E9EA;
    font-size: 268.01px;
    position: relative;
}

.home__text h1::after {
    content: '[ с новой коллекцией «Line»]';
    position: absolute;
    line-height: 39.62px;
    font-weight: 400;
    font-size: 22.24px;
    top: 20px;
    left: 200px;
}

.header__media1 {
    display: none;
}

.banner__home {
    position: absolute;
    top: 0;
    left: 50%;
}

.main__categories {
    width: 100%;
    padding: 80px 200px;
}

.categ__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

.categ__header h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 44px;
}

.categ__header div {
    font-size: 16px;
    line-height: 24px;
}

.categ__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.categ__main-block {
    width: 736px;
    height: 736px;
}

.categ__main-block:hover {
    border-radius: 18px 0 0 0;
}

.categ__one {
    background: url(../images/home/categ__one.jpg);
    position: relative;
    transition: 0.3s ease;
}

.categ__main-opacity {
    border-radius: 18px 0 0 0;
    width: 736px;
    height: 736px;
    background: #3d3d3d73;
    opacity: 0;
    transition: 0.3s ease;
}

.categ__main-opacity:hover {
    opacity: 1;
    transition: 0.3s ease;
}

.categ__main-one {
    display: flex;
    justify-content: space-between;

}

.categ__main-one-block {
    width: 352px;
    height: 352px;
}

.categ__main-two {
    width: 736px;
    height: 352px;
}

.categ__two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categ__two1 {
    border-radius: 0;
    background: url(../images/home/categ__two1.jpg);
        transition: 0.3s ease;
}

.categ__two2 {
    background: url(../images/home/categ__two2.jpg);
        transition: 0.3s ease;
}

.categ__two2:hover {
    border-radius: 18px 0 0 0;
    transition: 0.3s ease;
}
.categ__two1:hover {
    border-radius: 18px 0 0 0;
    transition: 0.3s ease;
}
.categ__two3:hover {
    border-radius: 18px 0 0 0;
    transition: 0.3s ease;
}

.categ__two3 {
    background: url(../images/home/categ__two3.jpg);
    transition: 0.3s ease;
}

.categ__main-opacity2 {
    border-radius: 18px 0 0 0;
    width: 352px;
    height: 352px;
    background: #3d3d3d9b;
    opacity: 0;
    transition: 0.3s ease;
}

.categ__main-opacity2:hover {
    opacity: 1;
    transition: 0.3s ease;
}

.categ__main-opacity3 {
    border-radius: 18px 0 0 0;
    width: 736px;
    height: 352px;
    background: #3d3d3d73;
    opacity: 0;
    transition: 0.3s ease;
}

.categ__main-opacity3:hover {
    opacity: 1;
    transition: 0.3s ease;
}

.categ_vse {
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.categ_vse:hover {
    color: #9466FF;
    transition: all .3s ease;
}

swiper-container {
    width: 469px;
    height: 577px;
}

.swiper-slide-shadow {
    background: transparent;
}

swiper-slide {
    display: flex;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    width: 469px;
    height: 577px;
}

.newProducts {
    width: 100%;
    padding: 50px 210px;
}

.newProducts h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 44px;
    position: relative;
}

.newProducts h1::after {
    content: 'Новинки';
    font-size: 352px;
    font-weight: 700;
    line-height: 394px;
    position: absolute;
    top: -100px;
    left: 0;
    color: #242C39;
    z-index: -1;
}

.newHity {
    width: 100%;
    padding: 50px 210px;
}

.newHity h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 44px;
    position: relative;
}

.newHity h1::after {
    content: 'Хиты';
    font-size: 352px;
    font-weight: 700;
    line-height: 394px;
    position: absolute;
    top: -100px;
    left: 0;
    color: #242C39;
    z-index: -1;
}

.parent-div {
    width: 352px;
    height: 492px;
    transition: all .3s ease;
    position: relative;
}

.parent-div:hover {
    box-shadow: 0px 12px 20px 0px #00000060;
    background: #2a323fcd;
    transition: all .3s ease;
}

.image-div {
    width: 352px;
    height: 352px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-div img {
    background: radial-gradient(52.53% 52.53% at 50% 47.47%, #4e5d778a 0%, rgba(42, 50, 63, 0) 100%);

}

.content-div {
    width: 100%;
    height: 140px;
    padding: 16px;
    position: relative;
}

.content-div h2 {
    font-size: 16px;
    color: #A5A8AD;
    font-weight: 700;
    line-height: 20px;
}

.content-div2{
    width: 100%;
    column-gap: 20px;
    display: flex;
    margin: 10px 0;
    color: #A5A8AD;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.available {
    color: #26DA72;
}

.not-available {
    color: #FF4747;
}

.product-price {
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
    color: #E8E9EA;
    position: absolute;
    bottom: 24px;
}

#items-container {
    display: flex;
    justify-content: space-between;
}

#hity-container {
    display: flex;
    justify-content: space-between;
}

.content_absolute-novinka {
    width: 72px;
    height: 24px;
    background: #FF5E2D;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 16px;
    left: 16px;
}

.content_absolute-hit {
    width: 39px;
    height: 24px;
    background: #16D9A6;
    color: #242C39;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 16px;
    left: 16px;
}

.additional-div {
    width: 352px;
    height: 492px;
    opacity: 0;
    z-index: 999;
    position: absolute;
    top: 0;
    transition: all .3s ease;
}

.additional-div:hover {
    opacity: 1;
    transition: all .3s ease;
}

.opacity-btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 124px;
    height: 48px;
    background: #9466FF;
    border: none;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 24px;
    cursor: pointer;
    transition: all .3s ease;
}

.opacity-btn:hover {
    background: #6124f0;
    transition: all .3s ease;
}

.additional-div1 {
    position: absolute;
    right: 16px;
    top: 16px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.additional-div1 div img {
    cursor: pointer;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.categ__main-block-foot {
    width: 491px;
    height: 491px;
}

.categ__main-block-foot:hover {
    border-radius: 18px 0 0 0;
}

.foot__one {
    background: url(../images/home/brand1.png);
    position: relative;
    transition: 0.3s ease;
    background-size: cover;
}

.foot__two {
    background: url(../images/home/brand2.png);
    position: relative;
    background-size: cover;
    transition: 0.3s ease;
}

.categ__main-opacity-foot {
    border-radius: 18px 0 0 0;
    width: 491px;
    height: 491px;
    background: #3d3d3d73;
    opacity: 0;
    transition: 0.3s ease;
}

.categ__main-opacity-foot:hover {
    opacity: 1;
    transition: 0.3s ease;
}

.footer {
    width: 100%;
    height: 210px;
}

.footer__one {
    width: 100%;
    height: 130px;
    background: #333A47;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 210px;
}

.footer__two {
    width: 100%;
    height: 80px;
    background: #242C39;
    display: flex;
    justify-content: space-between;
    padding: 16px 210px;
}

.footer__two p {
    font-size: 12px;
    color: #A5A8AD;
    font-weight: 400;
    line-height: 16px;
}

.footer__two div {
    position: relative;
    right: 80px;
    width: 366px;
    display: flex;
    justify-content: space-between;
}

.footer__two div a {
    font-size: 12px;
    color: #A5A8AD;
    font-weight: 400;
    line-height: 16px;
    transition: all .3s ease;
}

.footer__two div a:hover {
    color: #9458BA;
    transition: all .3s ease;
}

.footer__two a {
    font-size: 12px;
    color: #A5A8AD;
    font-weight: 400;
    line-height: 16px;
    transition: all .3s ease;
}

.footer__two a:hover {
    color: #9458BA;
    transition: all .3s ease;
}

.footer_nav {
    width: 164px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #E8E9EA;
    transition: all .3s ease;
}

.footer_nav a {
    color: #E8E9EA;
}

.footer_nav a:hover {
    color: #9458BA;
    transition: all .3s ease;
}

.footer_navbar {
    width: 208px;
    display: flex;
    justify-content: space-between;
}

.footer_navbar a i{
    text-align: center;
    font-size: 20px;
}

.footer_navbar a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #565C66;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E8E9EA;
    transition: all .3s ease;
}

.footer_navbar a:hover {
    color: #9458BA;
    border: 2px solid #9458BA;
    transition: all .3s ease;
}

/* search */
.search-none {
    display: none;
}

.search-block {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(45, 45, 45, 0.589);
    top: 0;
    left: 0;
    z-index: 99991;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-block_main {
    min-width: 850px;
    height: 570px;
    background-color: #333a47;
    position: relative;
    padding: 24px;
}

.search-block_main h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-block_main input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background: hsla(0, 0%, 100%, .06);
    height: 48px;
    padding-left: 20px;
    overflow: hidden;
    color: hsla(0, 0%, 100%)
}

.search-block_main a {
    position: absolute;
    top: 24px;
    right: 24px;
    color: hsla(0, 0%, 100%);
    font-size: 25px;
}


/* куки */

.cookie-consent {
    display: none;
}

.cookie-consent div {
    width: 100%;
    height: 128px;
    position: fixed;
    bottom: 0;
    padding: 0 210px;
    background-color: #101828;
    box-shadow: 0px -2px 4px 0px #00000033;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cookie-consent div p {
    color: #A5A8AD;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.cookie-consent p {
    margin: 0 0 10px;
}

.cookie-consent a {
    color: #9466FF;
    text-decoration: underline;
}

.cookie-consent button {
    width: 137px;
    height: 48px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #9466FF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.cookie-consent button:hover {
    background-color: #6124F0;
}

.callObrat {
    position: fixed;
    bottom: -200px; /* Элемент изначально скрыт ниже экрана */
    right: 20px;
    width: 100px;
    height: 100px;
    transition: bottom 1s ease-in-out;
    cursor: pointer;
}

.callObrat.show {
    bottom: 20px; 
}

.fa {
  color: azure;
  font-size: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dailer {
  background: #9466FF;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dailer::after {
  content: "";
  position: absolute;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  border: 2px solid #9466FF;
  border-radius: 50%;
  animation: animate 1.5s linear infinite;
  animation-delay: 0.8s;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}


/* signIn */

.signIn {
    display: none;
}

.signIn__main {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.527);
    position: fixed;
    top: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.signIn__main-center {
    width: 592px;
    height: 586px;
    background: #141420;
    border-radius: 10px;
    position: relative;
}

.signUn {
    display: none;
}

.signUn__main {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.527);
    position: fixed;
    top: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.signUn__main-center {
    position: relative;
    width: 592px;
    height: 625px;
    background: #141420;
    border-radius: 10px;
}

.signIn__main-header {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.signIn__main-header h1 {
    color: #00ffaaed;
    font-weight: 500;
    font-size: 40px;
}

.signIn__main-header p {
    color: #6c757d;
    margin: 10px 0;
    font-size: 18px;
}

.signIn__main-main {
    width: 100%;
    padding: 20px;
}

.signIn__main-main input {
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    background: rgba(28, 31, 47, .16);
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #2e344d;
    transition: all .3s ease-in-out 0s;
    box-shadow: 10px 10px 36px rgba(0,0,0,.5), -13px -13px 23px hsla(0,0%,100%,.03);
    margin-top: 24px;
    color: #e8e9ea;
    outline: none;
}

.signIn__main-main button {
    background: #1c1f2f;
    border-radius: 30px;
    width: 100%;
    min-height: 38px;
    overflow: hidden;
    border: 1px solid #2e344d;
    transition: all .3s ease-in-out 0s;
    box-shadow: 0 2px 26px rgba(0,0,0,.5), 0 7px 13px hsla(0,0%,100%,.03);
    cursor: pointer;
    color: #e8e9ea;
    font-size: 16px;
}

.zabyl {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2b7a19;
    text-decoration: underline;
}

.signInUP {
    width: 100%;
    justify-content: space-between;
    display: flex;
    font-size: 16px;
    padding: 0 120px;
}

.signInVoati {
    position: relative;
    right: 90px;
}

.signInVoatiYje {
    position: relative;
    left: 10px;
}

.signInUP p {
    color: #6c757d;
}

.signInUP a {
    color: #3468c9;
}

.signIn__main-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 30px;
}

.signIn__main-footer a {
    height: 40px;
    border-radius: 10%;
    width: 40px;
    box-shadow: 3px 9px 16px rgba(0,0,0,.4), -3px -3px 10px hsla(0,0%,100%,.06), inset 14px 14px 26px rgba(0,0,0,.3), inset -3px -3px 15px hsla(0,0%,100%,.05);
    border-color: hsla(0, 0%, 100%, .2);
    border-style: solid;
    border-width: 1px 0 0 1px;
    margin-right: 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bxl-github1 {
    color: #fff;
    animation: animGithub 1s infinite;
}

.bxl-google1 {
    color: #4285f4;
    font-size: 20px;
    animation: animDroj 0.5s infinite;
}

.bxl-youtube1 {
    color: rgb(221, 44, 44);
    animation: animYoutube 1s infinite;
}

.bxl-vk1 {
    color: rgb(60, 60, 228);
    font-size: 20px;
    animation: animDroj 0.5s infinite;
}

/* anim icon sign */
@keyframes animYoutube {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
}

@keyframes animGithub {
    0%, 100% {
      transform: scale(1);
    }
    50% {
        transform: scale(1.4);

    }
}

@keyframes animDroj {
    0%, 100% {
        transform: rotate(0deg);
    }
      25% {
        transform: rotate(-5deg);
    }
      75% {
        transform: rotate(5deg);
    }
}

.signClose {
    font-size: 50px;
    color: rgb(161, 158, 158);
    position: absolute;
    top: 20px;
    right: 20px;
}